<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yourDebank</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">

        <div class="page1">
            <img src="https://images.unsplash.com/photo-1617396900799-f4ec2b43c7ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
            
            <nav>
                <div class="top_nav_page1">
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                    </div>
                    
                </div>
                
            </nav>

            <div class="price_updates_tab">



            </div>


            <div class="body_page1">
                <div class="wallet_address_input_page1">

                    <h1>Select the chain</h1>

                    <p>

                        Chain:<select style="height: 25px;" name="chain" id="">

                            <option value="eth">Ethereum</option>
                        </select>
                    
                        Wallet Address:<input style="height: 25px;"type="text" name="wallet_address">

                       

                        <button id='wallet_input' type="submit">Submit</button>
                        
                    </p>

                    
                        
                </div>


                <div class="portfolio_value_page1">
                    <h1>Portfolio value</h1>

                    <div id="pieChart" class="chart" href="./js/script.js">
                        
                    </div>


                </div>


                <div class="latest_transaction_page1">
                    <h1>Latest transaction</h1>

                    <p>

                    </p>

                    
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>